<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<style>
body {
    font-family: 'Bangers'; font-size: 40px; background: #9966ff;
}

header {
  color:#66FF99; text-align:center; text-decoration: underline; font-size: 60px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-container .box {
  display: flex;
  flex-direction: column;
  color: #66FF99;
  background-color: #734cd9;
  width: 400px;
  margin: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}

.flex-container .box2 {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  color: purple;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 40px;
}

.flex-container .box3 {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 5px;
  font-size: 40px;
}

.button {
  background-color: green;
  border: none;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
}
.button2 {
  background-color: purple;
  border: none;
  color: aqua;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

</style>
</head>
<body>
  <header>
  All Expenses
</header>

<div class="flex-container" style="font-size:20px">
  <ul>
    <% @expenses.each do |exp| %>
    <li class="box"><%= exp.date %> - <%= exp.title %>: <%= number_to_currency(exp.cost) %> <p style="float: center">category: <%= exp.category %></p>
      <button type="button" style="float: right; background-color: #336600"><%= button_to 'X', "/expense/#{exp.id}/delete", method: :destroy, data: {confirm: "Are you sure you wanna delete #{exp.title}?"} %></button>
      <button type="button" style="float: right; background-color: lightseagreen"><%= button_to 'Edit', "/expense/#{exp.id}/edit", method: :get %></button></li>
    <br>
    <% end %>
  </ul>
</div>
