<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<style>

body {
    font-family: 'Bangers'; font-size: 40px; background: #9966ff;
}

header {
  color:#66FF99; text-align:center; font-size: 60px
}


</style>
</head>
<body style="text-align:center">
  <header>Add an Expense!</header>
  <div style="font-size: 30px; line-height: 30px; color:#66FF99">
    <%= form_tag "/expense/create", method: :post do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    <br>
    <br>
    <%= label_tag :cost %>
    <%= text_field_tag :cost %>
    <br>
    <br>
    <%= label_tag :date %>
    <%= date_field_tag :date %>
    <br>
    <br>
    <br>
    <p style="font-size: 40px; color: #0f5294"><%= label_tag :category %></p>
    <%= radio_button_tag(:category, "Income") %>
    <%= label_tag "Income" %>
    <br>
    <%= radio_button_tag(:category, "Groceries") %>
    <%= label_tag "Groceries" %>
    <br>
    <%= radio_button_tag(:category, "Eat Out") %>
    <%= label_tag "Eat Out" %>
    <br>
    <%= radio_button_tag(:category, "Housing") %>
    <%= label_tag "Housing" %>
    <br>
    <%= radio_button_tag(:category, "Subscriptions") %>
    <%= label_tag "Subscriptions" %>
    <br>
    <%= radio_button_tag(:category, "Loans") %>
    <%= label_tag "Loans" %>
    <br>
    <%= radio_button_tag(:category, "Car") %>
    <%= label_tag "Car" %>
    <br>
    <%= radio_button_tag(:category, "Phone") %>
    <%= label_tag "Phone" %>
    <br>
    <%= radio_button_tag(:category, "Larry") %>
    <%= label_tag "Larry" %>
    <br>
    <%= radio_button_tag(:category, "Entertainment") %>
    <%= label_tag "Entertainment" %>
    <br>
    <%= radio_button_tag(:category, "Sports") %>
    <%= label_tag "Sports" %>
    <br>
    <%= radio_button_tag(:category, "Health & Beauty") %>
    <%= label_tag "Health & Beauty" %>
    <br>
    <%= radio_button_tag(:category, "Gifts") %>
    <%= label_tag "Gifts" %>
    <br>
    <%= radio_button_tag(:category, "Other T") %>
    <%= label_tag "Other T" %>
    <br>
    <%= radio_button_tag(:category, "Other H") %>
    <%= label_tag "Other H" %>
    <br>
    <br>
    <%= submit_tag 'Create Expense' %>
    <% end %>
  </div>
</body >
