<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<style>
body {
    font-family: 'Bangers'; font-size: 40px; background: #9966ff;
}

header {
  color:#66FF99; text-align:center; text-decoration: underline; font-size: 60px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-container_two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-container .box {
  display: flex;
  flex-direction: column;
  color: #66FF99;
  background-color: #734cd9;
  width: 400px;
  margin: 20px;
  border: 1px solid black;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
}

.flex-container_two .box2 {
  display: flex;
  flex-direction: column;
  background-color: #0f5294;
  color: #66FF99;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 40px;
}

.flex-container .box3 {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 5px;
  font-size: 40px;
}

.button {
  background-color: #9966ff;
  border: none;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
}
.button2 {
  background-color: purple;
  border: none;
  color: aqua;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

</style>
</head>
<body>

<header>
  <% if @date.month < 12 && @date.month > 1 %>
    <div class="">
      <button class="button" style="line-height: 30px; float: right; position: relative">
        <form class="button_to" action="/expense/show/<%= @date.month + 1 %>/<%= @date.year %>" method="get">
          <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Next">
        </form>
      </button>
      <button class="button" style="line-height: 30px; float: left; position: relative">
        <form class="button_to" action="/expense/show/<%= @date.month - 1 %>/<%= @date.year %>" method="get">
          <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Previous">
        </form>
      </button>
    </div>
  <% elsif @date.month == 12%>
    <div class="">
      <button class="button" style="line-height: 30px; float: right; position: relative">
        <form class="button_to" action="/expense/show/1/<%= @date.year + 1 %>" method="get">
          <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Next">
        </form>
      </button>
      <button class="button" style="line-height: 30px; float: left; position: relative">
        <form class="button_to" action="/expense/show/<%= @date.month - 1 %>/<%= @date.year %>" method="get">
          <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Previous">
        </form>
      </button>
    </div>
  <% elsif @date.month == 1 %>
  <div class="">
    <button class="button" style="line-height: 30px; float: right; position: relative">
      <form class="button_to" action="/expense/show/<%= @date.month + 1 %>/<%= @date.year %>" method="get">
        <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Next">
      </form>
    </button>
    <button class="button" style="line-height: 30px; float: left; position: relative">
      <form class="button_to" action="/expense/show/12/<%= @date.year - 1%>" method="get">
        <input type="submit" style="background-color: #0f5294; color: #66FF99" value="Previous">
      </form>
    </button>
  </div>
  <% end %>
  <%= @date.strftime("%B") %> <%= @date.year %> Expense Breakdown
</header>

<div class="flex-container">
  <h1 class="box">
    <p style="text-decoration: underline">Groceries</p>
  <% if @groceries != [] %>
    <ul>
      <% @groceries.each do |grocery| %>
        <section id='expense-grocery'>
          <% if grocery.category == "Groceries" %>
            <li style="color: red"><%= grocery.date.month %>/<%= grocery.date.day %> - <%= grocery.title %>: <%= number_to_currency(grocery.cost) %>
            <br>
          <% end %>
        </section>
      <% end %>
    </ul>
  <% else %>
    <p style="color: dodgerblue">Get your ass to the grocery store!</p>
  <% end %>
  <% groceries_sum = @groceries.sum do |grocery| %>
    <% grocery.cost %>
  <% end %>
  <p style="color: maroon">Total: <%= number_to_currency(groceries_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Eat Out</p>
  <% if @eat_out != [] %>
    <ul>
      <% @eat_out.each do |eat_out| %>
        <section id='expense-eat_out'>
          <% if eat_out.category == "Eat Out" %>
            <li style="color: red"><%= eat_out.date.month %>/<%= eat_out.date.day %> - <%= eat_out.title %>: <%= number_to_currency(eat_out.cost) %>
            <br>
          <% end %>
        </section>
      <% end %>
    </ul>
  <% else %>
    <p style="color: dodgerblue">Treat yoself once in awhile!</p>
  <% end %>
  <% eat_out_sum = @eat_out.sum do |eat_out| %>
    <% eat_out.cost %>
  <% end %>
  <p style="color: maroon">Total: <%= number_to_currency(eat_out_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Housing</p>
    <% if @housing != [] %>
      <ul>
        <% @housing.each do |housing| %>
          <section id='expense-housing'>
            <% if housing.category == "Housing" %>
              <li style="color: red"><%= housing.date.month %>/<%= housing.date.day %> - <%= housing.title %>: <%= number_to_currency(housing.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">You should pay your mortgage or you'll get evicted!</p>
    <% end %>
    <% housing_sum = @housing.sum do |housing| %>
      <% housing.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(housing_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Subscriptions</p>
    <% if @subscriptions != [] %>
      <ul>
        <% @subscriptions.each do |subscription| %>
          <section id='expense-subscription'>
            <% if subscription.category == "Subscriptions" %>
              <li style="color: red"><%= subscription.date.month %>/<%= subscription.date.day %> - <%= subscription.title %>: <%= number_to_currency(subscription.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">Pay your bills!</p>
    <% end %>
    <% subscriptions_sum = @subscriptions.sum do |subscription| %>
      <% subscription.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(subscriptions_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Loans</p>
    <% if @loans != [] %>
    <ul>
      <% @loans.each do |loan| %>
      <section id='expense-loan'>
        <% if loan.category == "Loans" %>
          <li style="color: red"><%= loan.date.month %>/<%= loan.date.day %> - <%= loan.title %>: <%= number_to_currency(loan.cost) %>
          <br>
        <% end %>
      </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">These aren't optional!</p>
    <% end %>
    <% loan_sum = @loans.sum do |loan| %>
      <% loan.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(loan_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Car</p>
    <% if @car != [] %>
      <ul>
      <% @car.each do |car| %>
      <section id='expense-car'>
        <% if car.category == "Car" %>
          <li style="color: red"><%= car.date.month %>/<%= car.date.day %> - <%= car.title %>: <%= number_to_currency(car.cost) %>
          <br>
        <% end %>
      </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Get out of the house and drive somewhere!</p>
    <% end %>
    <% car_sum = @car.sum do |car| %>
      <% car.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(car_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Phone</p>
    <% if @phone != [] %>
      <ul>
      <% @phone.each do |phone| %>
      <section id='expense-phone'>
        <% if phone.category == "Phone" %>
          <li style="color: red"><%= phone.date.month %>/<%= phone.date.day %> - <%= phone.title %>: <%= number_to_currency(phone.cost) %>
          <br>
        <% end %>
      </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Your phone is already in your hand, pay the bill!</p>
    <% end %>
    <% phone_sum = @phone.sum do |phone| %>
      <% phone.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(phone_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Larry</p>
    <% if @larry != [] %>
      <ul>
      <% @larry.each do |larry| %>
      <section id='expense-larry'>
        <% if larry.category == "Larry" %>
          <li style="color: red"><%= larry.date.month %>/<%= larry.date.day %> - <%= larry.title %>: <%= number_to_currency(larry.cost) %>
          <br>
        <% end %>
      </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Get the boy a little snack or somethin!</p>
    <% end %>
    <% larry_sum = @larry.sum do |larry| %>
      <% larry.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(larry_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Entertainment</p>
    <% if @entertainment != [] %>
      <ul>
        <% @entertainment.each do |entertainment| %>
          <section id='expense-entertainment'>
            <% if entertainment.category == "Entertainment" %>
              <li style="color: red"><%= entertainment.date.month %>/<%= entertainment.date.day %> - <%= entertainment.title %>: <%= number_to_currency(entertainment.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">You haven't done anything fun this month!</p>
    <% end %>
    <% ent_sum = @entertainment.sum do |entertainment| %>
      <% entertainment.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(ent_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Sports</p>
    <% if @sports != [] %>
      <ul>
        <% @sports.each do |sports| %>
          <section id='expense-sports'>
            <% if sports.category == "Sports" %>
              <li style="color: red"><%= sports.date.month %>/<%= sports.date.day %> - <%= sports.title %>: <%= number_to_currency(sports.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">You could probably get some new cleats or somethin!</p>
    <% end %>
    <% sports_sum = @sports.sum do |sports| %>
      <% sports.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(sports_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Health & Beauty</p>
    <% if @health_beaut != [] %>
      <ul>
        <% @health_beaut.each do |health_beaut| %>
          <section id='expense-health_beaut'>
            <% if health_beaut.category == "Health & Beauty" %>
              <li style="color: red"><%= health_beaut.date.month %>/<%= health_beaut.date.day %> - <%= health_beaut.title %>: <%= number_to_currency(health_beaut.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">Go get a damn massage!</p>
    <% end %>
    <% health_beaut_sum = @health_beaut.sum do |health_beaut| %>
      <% health_beaut.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(health_beaut_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Gifts</p>
    <% if @gifts != [] %>
      <ul>
        <% @gifts.each do |gifts| %>
          <section id='expense-gifts'>
            <% if gifts.category == "Gifts" %>
              <li style="color: red"><%= gifts.date.month %>/<%= gifts.date.day %> - <%= gifts.title %>: <%= number_to_currency(gifts.cost) %>
              <br>
            <% end %>
          </section>
        <% end %>
      </ul>
    <% else %>
      <p style="color: dodgerblue">Buy something for someone else you selfish ass!</p>
    <% end %>
    <% gifts_sum = @gifts.sum do |gifts| %>
      <% gifts.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(gifts_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Other T</p>
    <% if @other_t != [] %>
    <ul>
      <% @other_t.each do |other_t| %>
        <section id='expense-other_t'>
          <% if other_t.category == "Other T" %>
            <li style="color: red"><%= other_t.date.month %>/<%= other_t.date.day %> - <%= other_t.title %>: <%= number_to_currency(other_t.cost) %>
            <br>
          <% end %>
        </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Only the essentials this month, I see...</p>
    <% end %>
    <% other_t_sum = @other_t.sum do |other_t| %>
      <% other_t.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(other_t_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Other H</p>
    <% if @other_h != [] %>
    <ul>
      <% @other_h.each do |other_h| %>
        <section id='expense-other_h'>
          <% if other_h.category == "Other H" %>
            <li style="color: red"><%= other_h.date.month %>/<%= other_h.date.day %> - <%= other_h.title %>: <%= number_to_currency(other_h.cost) %>
            <br>
          <% end %>
        </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Only the essentials this month, I see...</p>
    <% end %>
    <% other_h_sum = @other_h.sum do |other_h| %>
      <% other_h.cost %>
    <% end %>
    <p style="color: maroon">Total: <%= number_to_currency(other_h_sum.round(2)) %></p>
  </h1>

  <h1 class="box">
    <p style="text-decoration: underline">Income</p>
    <% if @income != [] %>
    <ul>
      <% @income.each do |income| %>
        <section id='expense-income'>
          <% if income.category == "Income" %>
            <li style="color: lightgreen"><%= income.date.month %>/<%= income.date.day %> - <%= income.title %>: <%= number_to_currency(income.cost) %>
            <br>
          <% end %>
        </section>
      <% end %>
    </ul>
    <% else %>
      <p style="color: dodgerblue">Get off your butt and go make us some money!</p>
    <% end %>
    <% income_sum = @income.sum do |income| %>
      <% income.cost %>
    <% end %>
    <p style="color: lawngreen">Total: <%= number_to_currency(income_sum.round(2)) %></p>
</div>
<% total_expenses = groceries_sum + eat_out_sum + housing_sum + subscriptions_sum + loan_sum + car_sum + phone_sum + larry_sum + ent_sum + sports_sum + health_beaut_sum + gifts_sum + other_t_sum + other_h_sum  %>
<% net_savings = income_sum - total_expenses %>
<div class="flex-container_two">
  <h1 class="box2">
    <p>Expenses: <%= number_to_currency(total_expenses.round(2)) %></p>
    <p>Income: <%= number_to_currency(income_sum.round(2)) %></p>
    <p>Net Savings: <%= number_to_currency(net_savings.round(2)) %></p>
</div>
