<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<style>

body {
    font-family: 'Bangers'; font-size: 40px; background: blueviolet;
}

header {
  color:yellow; text-align:center
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-container .box {
  display: flex;
  flex-direction: column;
  color: green;
  background-color: goldenrod;
  width: 400px;
  margin: 40px;
  text-align: center;
  line-height: 115px;
  font-size: 55px;
}

.flex-container .box2 {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  color: purple;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 55px;
  font-size: 40px;
}

.flex-container .box3 {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 95px;
  font-size: 40px;
}

.button {
  background-color: green;
  border: none;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
}
.button2 {
  background-color: purple;
  border: none;
  color: aqua;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

</style>
</head>
<body>

<header>
  <h1 style="font-size: 80px">whobudget!</h1>
</header>


<div class="flex-container">
  <% if @savings == nil %>
    <h1 class="box">No Current Savings</h1>
    <p> <%= button_to 'Add Savings', "/savings/new", method: :get %> </p>
  <% else %>
    <h1 class="box">
      <p>Current Savings:</p>
      <p style="font-size: 80px"><%= number_to_currency(@savings.amount) %></p>
      <button class="button" style="line-height: 30px">
        <form class="button_to" action="/savings/<%= @savings.id %>/edit" method="get">
          <input type="submit" style="background-color: goldenrod; color: green" value="Edit Savings">
        </form>
      </button>
    </h1>
  <% end %>
  <% if @savings != nil %>
    <h2 class="box2">
      <p>Last Month's Savings:</p>
      <p><%= number_to_currency(@savings.last_month_savings) %></p>
      <p style="color: purple">Last Year's Savings:</p>
      <p style="color: purple"><%= number_to_currency(@savings.last_year_savings) %></p>
      <button class="button2" type="button" style="line-height: 25px"><%= button_to 'Expense Report', "/expense/index", method: :get %></button>
      <button class="button2" type="button" style="line-height: 25px"><%= button_to 'Add Expense', "/expense/new", method: :get %></button>
    </h2>
  <% end %>
  <h2 class="box3">
    <p>Goals Here</p>
  </h2>
</div>

</body>
</html>



<!-- <h1 class='w3-display-middle' style='font-family:bangers'>WHOBUDGET</h1> -->
